html{
  height:100%
}
body{
  height:100;
  background: black;

}

.liveInfo{
  height: 50vh;
  width: 50vw;
  border: 2px solid white;
  color: white;
}

.score{
  font-size: 20px;
  text-align: center;
}

.wakeScore, .oppScore{
  display: inline-block;
  padding: 20px;
}

.wakeScore p, .oppScore p{
  margin-top: 10px;
}
.driveInfo {
  text-align: center;
}
.driveInfo div{
display: inline-block;
font-size: 18px;
padding: 20px;
}
.driveStart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  min-width: 400px;
  text-align: center;
  height: 200px;
  font-size: 18px;
}
.startDrive{
  text-align: center;
  padding-top: 20px;
}
.button{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 16px;
}
.runButtons{
  display: inline-block;
  padding: 0px 10px 0px 10px;
  text-align: center;
}
.passButtons{
  display: inline-block;
  padding: 0px 10px 0px 10px;
  text-align: center;
}
.runButtons button, .passButtons button{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 16px;
}

.addPlays{
  color: white;
  font-size: 20px;
  height: 50vh;

}
.playInfo{
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px 0px 50px;
}
.runOrPass{
  display: inline-block;
  vertical-align: top;
}
.details{
  text-align: center;
}
.details button{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 16px;
}
