html{

}
body{
  background: black;

}
.app{
  position: relative;
  min-width: 1200px;
}

.liveInfo{
  height: 50vh;
  width: 50%;
  border-top: 2px solid white;
  border-right: 1px solid white;
  border-left: 2px solid white;
  border-bottom: 1px solid white;
  color: white;
  box-sizing: border-box;
}

.score{
  font-size: 20px;
  text-align: center;
}

.wakeScore, .oppScore{
  display: inline-block;
  padding: 10px;
}

.wakeScore p, .oppScore p{
  margin-top: 5px;
}
.driveInfo {
text-align: center;
}
.driveInfo div{
display: inline-block;
font-size: 18px;
width: 200px;
}
.driveStart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  min-width: 400px;
  text-align: center;
  height: 200px;
  font-size: 18px;
}
.startDrive{
  text-align: center;
  padding-top: 20px;
}
.submit{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;

}

.button{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 3px 0px 3px
}
.runButtons{
  display: inline-block;
  padding: 0px 5px 0px 5px;
  text-align: center;
}
.passButtons{
  display: inline-block;
  padding: 0px 5px 0px 5px;
  text-align: center;
}
.runButtons p, .passButtons p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.runButtons button, .passButtons button{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}
.play button{
  height:35px;
  width: 105px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.addPlays{
  color: white;
  font-size: 20px;
  height: 50vh;
  width:50%;
  border-bottom: 2px solid white;
  border-top: 1px solid white;
  border-left:2px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;

}
.playInfo{
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px 0px 10px;

}
.runOrPass{
  display: inline-block;
  vertical-align: top;
}
.results{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0px 10px 0px 10px;
  position: relative;
  height: 100%;
}
.results p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.details{
  text-align: center;

}
.details button{
  height:45px;
  width: 105px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}
.details p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.addPlayButton{
 text-align: center;
}
.playButton{
  height:55px;
  width: 105px;
  border-radius: 8px;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.flexbox{
  display: flex;
  width: 200px;
  justify-content: center;
  flex-wrap: wrap;
  height: 10%;
}
.flexbox button{
  font-size: 12px;
  font-weight: bold;
  width: 90px;
  height: 35px;
  text-align: center;
  margin: 2px 2px 2px 2px;
}

.playbyplay{
  height: 50vh;
  position: absolute;
  top: 0px;
  left: 50vw;
  border-top: 2px solid white;
  border-left: 1px solid white;
  border-right: 2px solid white;
  border-bottom: 1px solid white;
  width: 50%;
  box-sizing: border-box;
  color: white;
}

.headers th{
  font-size: 12px;
  text-align: center;

}
.headers{
  width: 100%;
  border: 1px solid white;
}
.playList{
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
}
.playList td{
  background: #CFB53B;
  vertical-align: top;
  color: black;
}
.playerStats{
  height: 50vh;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 50%;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.statsTable {
  text-align: center;
  width:100%;
}
.statsTable td {
  text-align: left;
}
.statsTable th{
  background:#CFB53B;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.statsName{
  width:20%;
}
.gameButtons{
 text-align: center;
 padding-top: 15px;
}
.finishGame{
  text-align: center;
  padding-top: 15px;
}
.gameButtons button, .finishGame button{
  height:35px;
  width: 85px;
  margin: 0px 3px 0px 3px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}
.changePlayer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  min-width: 600px;
  text-align: center;
  height: 400px;
  font-size: 18px;
  font-weight: bold;
}
.changePlayer button, .changeScore button{
  height:35px;
  width: 95px;
  margin: 0px 3px 0px 3px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}
.changeScore{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  min-width: 300px;
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
}
.changeInfo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  min-width: 300px;
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
}
.playsTable{
  color: white;
  width:100%;
  text-align: center;
  margin:auto;
}

.backButton{
  margin: auto;
  text-align: center;
  margin-top: 5px;
}
.backButton button{
  height:25px;
  width: 85px;
  margin: 0px 3px 0px 3px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}
.allPlays{
  height:100vh;
  width:100vw;
  box-sizing: border-box;
  overflow-y: hidden;
}
.activePlayers p{
  display: inline-block;
  width: 200px;
  font-weight: bold;
}
.activePlayers{
  text-align: center;
}
.pickWR{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.wrRunflexbox{
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.wrRunflexbox button{
  font-size: 12px;
  font-weight: bold;
  width: 90px;
  height: 40px;
  text-align: center;
  margin: 2px 2px 2px 2px;
}
.allPlays{
  padding-bottom: 50px;
}
